---
---

@import "{{ site.theme }}";

.section {
	display: flex;
	padding: 10px 0 ;
	padding-bottom: 40px;
	margin-bottom: 40px;	
	flex: 100%;
}

.section.one {
	border-bottom: 1px solid #cecece;
}

.section .content {
	flex:30%;
}

.section p {
	font-size: 1em;
}

.section img {
	padding: 0 10px;
}

.section.one h3, .section.two h3 {
	margin-top: 20px;
}

.section.one p, .section.one h3 {
	padding-right: 40px;    
}

.section.two p, .section.two h3 {
	padding-left: 40px;    
}

.bios {
	display: flex;
	flex-wrap: wrap;
	border-bottom: 1px solid #cecece;
}

.bio {
	flex: 50%;
}

.bio .meta {
	display: flex;
}

.bio .content {
	padding: 20px 40px 20px 0;
}

.bio h3 {
	font-size: 1.1em;
	font-weight: bold;
	padding: 0;
	margin: 20px 0 0 20px;
}

.bio h4 {
	font-size: 1.02em;
    padding: 0;
    margin: 0 0 0 20px;
}

.bio img {
	width: 100px;
	height: 100px;
	border-radius:50%;
}

.credits {
	margin-top: 40px;
}

@media only screen and (max-width: 600px) {
	.bio {
		flex: 100%;
	}

	.bio .content {
		padding: 20px 10px 20px 10px
	}

	.bio .meta div {
		flex: 50%;
		text-align: center;
	}

	.section {
		display: block;
	}

	.section .image {
		text-align: center;
	} 

	.section img {
		padding: 0;
	}

	.section.one p, .section.one h3 {
		padding-right: 0;    
	}

	.section.one h3, .section.two h3 {
		text-align: center;
	}

	.section.two p, .section.two h3 {
		padding-left: 0;  
	} 
}